html {
	font-family: "Lucida Sans", sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	background-color: E0E0E0;

}

.row::after {
	content: "";
	clear: both;
	display: table;
}




[class*="col-"] {
  float: left;
  width:100%;
  padding: 15px;
}



@media only screen and (min-width: 680px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 968px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}




.footer {


	background-color:#020202;
	padding: 15px;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	width: 100%;

}


div.changingFontSize {
	font-size: defualt;
}

@media only screen and (max-width: 968px) {

	div.changingFontSize {
		font-size: 12;

	}
}

@media only screen and (max-width: 680px ) {

	div.changingFontSize {
		font-size: 16;

	}
}

img {
	width:100%;
	height: auto;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu ul > a {
	text-decoration: none;
}

.menu li {
	padding: 8px;
	margin-bottom: 7px;
	background-color: #A8DFFF;
	color: #000000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
	background-color: #33b5e5;
	color: #ffffff;
}

#current-selection {
	margin-left: 30px;

}

.whiteBox {
	background-color: white;
	border-radius: 15px;
	padding: 15px;

	margin-bottom: 30;


}

.heading {
	margin: 3px;

	font-weight: bold;
	font-size: 24;
	padding-top: 5;
}

.whitebox > hr {
	color: #A8DFFF;
}

#back-button {
	background-color: A8DFFF;
	max-width: 150;
	padding: 15px;
	border-radius: 15px;
}
#back-button * {
	color: #000000;
}

#back-button h2 {
	margin:0;
	padding: 0;
}
#back-button:hover {
	background-color: #33b5e5;
	color: #ffffff;
}
#back-button:hover * {
	color: #ffffff;
}
