




.info ul {
	list-style-type: none;

	margin: 0;
	padding: 0;
	overflow-wrap:break-word;
	line-height: 1.5;
}

.info h4 {
	margin-bottom: 5;
}

.info li {
	padding: 2px;
	margin-bottom: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}


#sublist > li {
	padding-left: 20px;

}



#portraitImg {
	border-radius: 15px;
}
@media only screen and (max-width: 700px) {
	#portraitImg {
		max-width:170px;
		width: 100%;
	}

}

.infoblock {
	background-color: #A8DFFF;
	border-radius: 5px;
	padding: 5px;

}



.infoblock > hr {
	background-color: #ffffff;
	border:none;
	height: 2px;
	margin-top:2px;

}

.infoblock h2 {
	padding-left: 10;
}



h2 {
	margin-bottom: 3px;
	margin-top: 5px;
}

h4 {
	margin-bottom: 0;
	margin-top: 7;
}

.nomarg {

	padding: 0;
}


.grid-container {
	display: grid;
	grid-template-columns: 49% 2% 49%;
	justify-content:center;

}

.small-padding {
	padding:4;

}

.center {
	padding-left: 15;
	padding-right: 15;
	text-align: center;
}
.center * {
	text-align: center;
}

.info h5 {
	margin: 0;
	font-size: 14;
}



table {

}

#vert-line {
	background-color: white;
	height: 100%;
	width: 3px;
	margin: auto;
}
